<h5>Retrieved content from <strong><%= results['results'][0]['item']['title'] %></strong>; section <strong><%= results['results'][0]['item']['section'] %>:</strong></h5>
<p><%= results['results'][0]['item']['body'] %></p>
