/*@font-face {*/
/*    font-family: 'Product Sans';*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');*/
/*}*/

@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('IBM Plex Sans'), local('IBMPlexSans'), url(https://fonts.gstatic.com/s/ibmplexsans/v6/zYXgKVElMYYaJe8bpLHnCwDKhdzeFaxOedfTDw.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}


@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('IBM Plex Sans Bold'), local('IBMPlexSans-Bold'), url(https://fonts.gstatic.com/s/ibmplexsans/v6/zYX9KVElMYYaJe8bpLHnCwDKjWr7AIVsdP3pBmtF8A.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

html {
    height: calc(100vh - 55px);

}

body {
    height: calc(100vh - 55px);
    /*font-family: Product Sans, sans-serif;*/
    font-family: IBM Plex Sans, sans-serif;
}

strong {
    font-weight: 800;
    color: #1ec2fb;
}

em {
    font-weight: 800;
    font-style: normal;
}




.client-response {
    background-color: #1ec2fb;
    border-radius: 10px 10px 0 10px;
    position: relative;
    float: right;
    padding: 6px 8px;
    color: white;
}

.bot-response {
    background-color: #eaeaea;
    border-radius: 10px 10px 10px 0;
    position: relative;
    float: left;
    padding: 6px 8px;

}

#response {
    background-color: white;
    padding: 10px;
    max-height: 750px;
    border-radius: 10px;
    overflow: scroll;
    box-shadow:  inset 0 57px 67px -94px rgba(0,0,0,0.15),  inset 0 -57px 67px -94px rgba(0,0,0,0.15);


}



.btn-secondary {
    background-color: #22c9fc;
    border-color: #22c9fc;
    color: white;
}

.btn-secondary:hover {
    background-color: #3d4d5c;
    border-color: #3d4d5c;
    color: white;
}


.content-container-left {
    overflow: scroll;
    background-color: #FFFFFF;
    padding: 5px 15px 1px 15px;
    border-radius:10px;
    box-shadow: 0 0 18px -4px rgba(0,0,0,0.67);
}
.content-container-right {
    overflow: hidden;
    /*max-height: 800px;*/
    background-color: #eaeaea;
    padding: 5px 15px 1px 15px;
    border-radius:10px;
    box-shadow: 0 0 18px -4px rgba(0,0,0,0.67);
}

.container-fluid {
    padding-left: 100px;
    padding-right: 100px;
    height: calc(100vh - 55px);
}

.sidenav-child {
    background-color: #22c9fc;
    position: relative;
    height: auto;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    box-shadow: inset 0 0 55px -31px rgba(0,0,0,0.75);
}

.navbar {
    background-color: #3d4d5c;
    /*height: 55px;*/
}

.div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wrapper-right {
    background-color: #eaeaea;
    position: relative;
}

.container-fluid-sidebar {
    padding-left: 50px;
    padding-right: 50px;
}


@media (max-width: 767px) {

    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }

    .sidenav-child {
        margin-top: 20px;
        background-color: #22c9fc;
        position: relative;
        height: auto;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius:10px;
        box-shadow: inset 0 0 55px -31px rgba(0,0,0,0.75);
    }

    .container-fluid {
        padding: 20px;
    }
}


