<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Vito</title>

    <!--Scripts: jQuery, bootstrap-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!--Styles-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../styles/client.css">

</head>
<body>

<!--Navbar-->
<nav class="navbar navbar-expand-sm navbar-dark">
    <a class="navbar-brand" href="https://www.simcorp.com/">SimCorp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="superuser">Superuser</a>
            <a class="nav-item nav-link" href="docs">Docs</a>
            <a class="nav-item nav-link active" href="about">About <span class="sr-only">(current)</span></a>

        </div>
    </div>
</nav>

<div class="container-fluid">
    <br>
    <div class="row content">
        <div>


            <h2>Are you looking for help?</h2>
            <p>
                This website provides general information about the project as a whole. If you are in need for assistance, consult
                the documentation or just ask the virtual assistant.
            </p>

            <h2>About</h2>
            <p>
                The scope of this project is to investigate to which extend a virtual assistant (or chatbot) can be used to improve the user experience of a browser based
                asset management system. It is a collaboration between SimCorp and DTU and forms part of the DTU course "02122 - Fagprojekt" for software engineers.

                The project requirements were given by SimCorp which acts as the client in a software engineering context. The chatbot must be able to perform basic table
                operations such as sorting, filtering, grouping, etc. while communicating smoothly with a user through written or spoken natural language, thus providing
                a significant improvement to the traditional mouse and keyboard based interaction. In addition to the basic features, the system is also able to visualise
                data and has a superuser mode that provides a terminal-like interaction for experienced users which is based on commands rather than natural language.
            </p>

        </div>

    </div>
</div>

</body>
</html>