<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team Dream</title>

    <!--Scripts: jQuery, bootstrap, chart.js -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> <!-- TODO: Refactor this out so graphTemplate.ejs gets chart.js from backend -->

    <!--Local Scripts-->
    <script src="../javascripts/main.js"></script>
    <script src="../javascripts/speechRecognition.js"></script>
    <script src="../javascripts/client.js"></script>

    <!--Styles and icons-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../styles/client.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>

<body>

<!--Navbar-->
<nav class="navbar navbar-expand-sm navbar-dark">
    <a class="navbar-brand" href="">SimCorp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="superuser">Superuser</a>
            <a class="nav-item nav-link" href="docs">Docs</a>
            <a class="nav-item nav-link" href="about">About</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row content">
        <div class="col-md-8 text-left">

            <br>

            <div class="content-container-left">
                <h1>Search</h1>
                <div id="fuseContainer"></div>
            </div>
            <br>
            <div class="content-container-left">
                <h1>Database</h1>
                <div id="databaseContainer"></div>
                <div>
                    <h1>State Representation</h1>
                    <p id="SQLquery">
                        State constraints are empty, please apply table operations to see them represented here.
                    </p>

                </div>

            </div>

            <br>

        </div>

        <div class="col-md-4 sidenav">
            <div class="sidenav-child">
                <br>
                <div class="content-container-right">
                    <h1>Assistant</h1>

                    <div class="form-group">
                        <textarea class="form-control" id="response" rows="25"></textarea>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-secondary" type="button" id="rec"><i class="fas fa-microphone"></i></button>
                        </div>
                        <input type="text" class="form-control" id="input" placeholder="Type here..." aria-label="" aria-describedby="basic-addon1">
                    </div>
                </div>

                <br>

                <div class="content-container-right">
                    <h1>Visualization</h1>
                    <div id="graphContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    console.log(Chart);
</script>

</body>

</html>