
body {
    font-family: Product Sans, sans-serif;
}

.superuser-content-container {
    font-family: "Fira Code";
    font-size: 12px;
    height: calc(100vh - 56px);
    padding: 0 20px;
}

.superuser-content-container .superuser-content-wrapper .input-group {
    position: absolute;
    bottom: 0;
    left:0;
    color: black;
}

.superuser-content-container .superuser-content-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.superuser-content-container .superuser-content-wrapper .superuser-content-output-container {
    width: 100%;
    height: calc(100% - 70px);
    overflow: scroll;
}

.input-group {
    width: 100%;

}

.input-group-prepend {
    line-height: 37px;
    border: 1px black;
    vertical-align: center;
}

#superuserResults {
    white-space:pre-wrap;
}

#tags {
    width: 20%;
    background-color: white;
    font-size: 14px;
    border: none;
    outline: none;
    -webkit-box-shadow: none !important;
}
#tags:focus {
    font-family: "Fira Code";
    font-size: 14px;
    outline: none;
    border: none;
    -webkit-box-shadow: none !important;
}

.ui-menu {
    background: #c4c4c4;
    border-radius: 5px;
    font-family: "Fira Code";
    font-size: 14px;
    border-color: transparent;
    outline-color: transparent;
    width: auto !important;
    box-shadow: 0px 0px 28px -7px rgba(0,0,0,0.37);
}
.ui-widget.ui-widget-content {
    border-color: transparent;
}

.ui-menu .ui-menu-item-wrapper:hover, .ui-menu .ui-menu-item-wrapper.ui-state-active {
    font-size: 14px;
    font-weight: bold;
    color: black;
    background-color: transparent;
    border-color: transparent;
}

#buffer-for-drop-shadow {
    position: absolute;
    height: 70px;
    width: 100%;
    bottom: 0;
    left:0;
    box-shadow: 0px 0px 37px 1px rgba(0,0,0,0.1);
}



