<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Team Dream</title>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Our script -->
    <script src="speechRecognition.js"></script>
    <script src="network.js"></script>
    <script src="setupWebsite.js"></script>
    <script src="scripts.js"></script>
    <script>
        $(function(){
            $("#includedContent").load("views/table.ejs");
        });
    </script>

    <!-- Datatable script -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Datatable styling-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">



</head>

<body>

<!-- Body container -->
<div class="container">

    <!-- Global header -->
    <div class="jumbotron" style="margin-bottom: 5px">
        <h1>Simcorp Virtual Assistant</h1>
        <p>This webpage was created with the intent of illustrating basic grid operations, initiated by a virtual assistant through use of natural spoken language.</p>
    </div>

    <!-- Button Group -->
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="margin-bottom: 25px">
        <div class="btn-group mr-2" role="group" aria-label="First group" style="margin-bottom: 3px">
            <button type="button" class="btn btn-secondary" id="showHideTable" style="margin-bottom: 1px">Show/Hide Table</button>
            <button type="button" class="btn btn-secondary" id="addRow" style="margin-bottom: 1px">Add Row</button>
            <button type="button" class="btn btn-secondary" id="removeRow" style="margin-bottom: 1px">Remove Row</button>
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="#">Dropdown link</a>
                    <a class="dropdown-item" href="#">Dropdown link</a>
                </div>
            </div>
            <button type="button" class="btn btn-secondary" id="sortBtn" style="margin-bottom: 1px">Sort</button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Second group" style="margin-bottom: 3px">
            <button type="button" class="btn btn-secondary" style="margin-bottom: 1px" id="populate">Populate</button>
            <button type="button" class="btn btn-secondary" style="margin-bottom: 1px">Load</button>
            <button type="button" class="btn btn-secondary" style="margin-bottom: 1px">Refresh</button>
            <button type="button" class="btn btn-secondary" style="margin-bottom: 1px">Clear</button>
        </div>
    </div>

    <!-- Assistant Div -->
    <div class="row" style="margin-bottom: 15px">

        <div class="col-lg-6">
            <label style="font-size: 24px;">Assistant</label>
            <div class="input-group" style="margin-bottom: 15px">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button" id="rec">Speak</button>
                        </span>
                <input type="text" class="form-control" id="input" placeholder="Start typing...">
            </div>
            <div class="form-group">
                <textarea class="form-control" id="response" rows="5"></textarea>
            </div>
        </div>

        <div class="col-lg-6">

            <img src="images/IMG_0429.jpg" style="width: 100%;">

        </div>

    </div>

    <div id="holder">
        <h1>Database</h1>
        <%= result_from_database %>
    </div>
    <form>
        <button type="button" id="HButton"> Fetch Database </button>
    </form>


</div>


</body>

<script>
    $(document).ready(function () {
        var my_div = $("#holder");
        $("#HButton").on("click", function () {

            $.ajax({
                url: "/api/query"
            })
                .done(function( data ) {
                    $('#holder').html(data.toString());
                });
        });
    });
</script>

</html>