<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Team Dream</title>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Our script -->
    <script src="speechRecognition.js"></script>
    <script src="network.js"></script>
    <script src="setupWebsite.js"></script>
    <script src="scripts.js"></script>
    <script>
        $(function(){
            $("#includedContent").load("views/table.ejs");
        });
    </script>

    <!-- Datatable script -->
<!--    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>-->

    <!-- Latest compiled and minified JavaScript -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Datatable styling-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

    <!-- Graphs -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>



</head>

<body>

<!-- Body container -->
<div class="container">

    <!-- Global header -->
    <div class="jumbotron" style="margin-bottom: 5px">
        <h1>Simcorp Virtual Assistant</h1>
        <p>This webpage was created with the intent of illustrating basic grid operations, initiated by a virtual assistant through use of natural spoken language.</p>
    </div>


    <!-- Assistant Div -->
    <div class="row" style="margin-bottom: 15px">

        <div class="col-lg-6">
            <label style="font-size: 24px;">Assistant</label>
            <div class="input-group" style="margin-bottom: 15px">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button" id="rec">Speak</button>
                </span>
                <input type="text" class="form-control" id="input" placeholder="Start typing...">
            </div>
            <div class="form-group">
                <textarea class="form-control" id="response" rows="5"></textarea>
            </div>
        </div>

        <div class="col-lg-6">
            <img src="images/IMG_0429.jpg" style="width: 100%;">

        </div>

    </div>

    <h1>Database</h1>

    <form>
        <button type="button" id="VisualizeButton"> Generate Graph </button>
        <input type="text" value="" id="queryTextForGraph" required
               minlength="4" maxlength="80" size="100">
    </form>

    <div id="graphContainer"></div>

    <form>
        <button type="button" id="HButton"> Fetch Database </button>
        <input type="text" value="select * from Stocks" id="queryText" required
               minlength="4" maxlength="80" size="100">
    </form>

    <div id="databaseContainer"></div>




</div>


</body>

</html>