<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vito Documentation</title>

    <!--     Latest compiled and minified CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!--Custom Styles-->
    <link rel="stylesheet" type="text/css" href="../styles/client.css">
    <link rel="stylesheet" type="text/css" href="../styles/docs.css">


</head>
<body>



<!--Navbar-->
<nav class="navbar navbar-expand-sm navbar-dark">
    <a class="navbar-brand" href="https://www.simcorp.com/">SimCorp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="features">Features</a>
            <a class="nav-item nav-link active" href="docs">Docs <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="about">About</a>

        </div>
    </div>
</nav>


<div class="wrapper">

    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Documentation</h3>
            <p>Page Sections</p>
        </div>

        <ul id="sidebar-content-container" class="list-unstyled components">
            <li>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Versions</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#vivanDocumentation">Vivan</a>
                    </li>
                    <li>
                        <a href="#vivanNodeDocumentation">Vivan Node</a>
                    </li>
                    <li>
                        <a href="#vitoDocumentation">Vito</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#page1Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Website</a>
                <ul class="collapse list-unstyled" id="page1Submenu">
                    <li>
                        <a href="#navigationBarDocumentation">Navigation Bar</a>
                    </li>
                    <li>
                        <a href="#assistantDocumentation">Assistant</a>
                    </li>
                    <li>
                        <a href="#queryDocumentation">Queries</a>
                    </li>
                    <li>
                        <a href="#databaseDocumentation">Database</a>
                    </li>
                    <li>
                        <a href="#visualizationDocumentation">Visualization</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#page2Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Features</a>
                <ul class="collapse list-unstyled" id="page2Submenu">
                    <li>
                        <a href="#gridOperationDocumentation">Grid Operations & Database Integration</a>
                    </li>
                    <li>
                        <a href="#nlpDocumentation">Natural Language Proccessing</a>
                    </li>
                    <li>
                        <a href="#nodejsDocumentation">Node.js</a>
                    </li>
                    <li>
                        <a href="#dialogFlowDocumentation">DialogFlow</a>
                    </li>
                    <li>
                        <a href="#documentSearchDocumentation">Document Search</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#page3Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dependencies</a>
                <ul class="collapse list-unstyled" id="page3Submenu">
                    <li>
                        <a href="#chartjsDocumentation">Chart.js</a>
                    </li>
                    <li>
                        <a href="#fusejsDocumentation">Fuse.js</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <!-- Page Content -->
    <div id="content">

        <div class="container-fluid">


            <button type="button" id="sidebarCollapse" class="btn btn-secondary">
                <i class="fas fa-align-left"></i>
                <span>Toggle Sidebar</span>
            </button>


            <div class="sidenav-child">

                <div class="documentation-title-holder">
                    <h1>Versions</h1>
                    <p>Vito was not always as shiny and pretty as we know she is today. Before she was birthed, numerous other imlplementations were carrying the Vi-name! There exists three major Vi-versions; Vivan, Vivan Node, and Vito; The naming convention is no accident; Vivan represents version one or <em>V1</em>, Vivan Node reporesents the migration of Vivan to a Node.js, and finally Vito represents version 2 or <em>V2</em>.</p>
                    <div class="documentation-subtitle-holder" id="vivanDocumentation">
                        <h3>Vivan</h3>
                        <p>Vivan was the initial implementation of the chat bot. It was implemeneted through basic HTML and Javacript, with all computations taking place on the front-end. It met some basic product requirements and provided a solid foundation for the development of Vivan Node.</p>
                    </div>
                    <div class="documentation-subtitle-holder" id="vivanNodeDocumentation">
                        <h3>Vivan Node</h3>
                        <p>Vivan Node is less of a complete version and more a stepping stone from Vivan to Vito. There were many funcionalities planned for the implementation of Vito, but a better architecture was desired to improve preformance and scalability. A better architecture also made it easier to design and plan new features for Vito. To achieve this Vivan was migrated, with the same basic funcionalities, to a node.js express app.</p>
                    </div>
                    <div class="documentation-subtitle-holder" id="vitoDocumentation">
                        <h3>Vito</h3>
                        <p>Vito is the current, supported version of the chat bot. It was built directly off of Vivan Node, extending existing features as well as adding a slew of new ones.</p>
                    </div>
                </div>

                <br>
                <br>
                <br>

                <h1>Website</h1>
                <p></p>
                <div class="documentation-subtitle-holder" id="navigationBarDocumentation">
                    <h3>Navigation Bar</h3>
                    <h4>Home</h4>
                    <p></p>
                    <h4>Docs</h4>
                    <p></p>
                    <h4>About</h4>
                    <p></p>
                </div>
                <div class="documentation-subtitle-holder" id="assistantDocumentation">
                    <h3>Assistant</h3>
                    <p></p>
                </div>
                <div class="documentation-subtitle-holder" id="queryDocumentation">
                    <h3>Queries</h3>
                    <p></p>
                </div>
                <div class="documentation-subtitle-holder" id="databaseDocumentation">
                    <h3>Database</h3>
                    <p></p>
                </div>
                <div class="documentation-subtitle-holder" id="visualizationDocumentation">
                    <h3>Visualization</h3>
                    <p></p>
                </div>

                <br>
                <br>
                <br>

                <h1>Features</h1>
                <p></p>
                <div class="documentation-subtitle-holder" id="gridOperationDocumentation">
                    <h3>Grid Operations & Database Integration</h3>
                    <p></p>
                </div>
                <div class="documentation-subtitle-holder" id="nlpDocumentation">
                    <h3>Natural Language Processing</h3>
                    <p></p>
                </div>
                <div class="documentation-subtitle-holder" id="nodejsDocumentation">
                    <h3>Node.js</h3>
                    <p></p>
                </div>
                <div class="documentation-subtitle-holder" id="dialogFlowDocumentation">
                    <h3>DialogFlow</h3>
                    <p></p>
                </div>
                <div class="documentation-subtitle-holder" id="documentSearchDocumentation">
                    <h3>Document Search</h3>
                    <p></p>
                </div>

                <br>
                <br>
                <br>

                <h1>Dependencies</h1>
                <p></p>
                <div class="documentation-subtitle-holder" id="chartjsDocumentation">
                    <h3>Chart.js</h3>
                    <p></p>
                </div>
                <div class="documentation-subtitle-holder" id="fusejsDocumentation">
                    <h3>Fuse.js</h3>
                    <p></p>
                </div>
                <div style="height: 70vh;"></div> <!--For allowing scroll past the bottom of the content-->

            </div>







        </div>


    </div>

</div>




</body>

<script>

    $(document).ready(function () {

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });

        // var i=1;//
        // $("#sidebar-content-container li ul li").eq(i).addClass('active');

    });



</script>

</html>