 <canvas id="myChart"></canvas>

 <%  results.forEach(function(result) { %>
        <% console.log(result) %>
         <% for(var attributeName in result){%>
             <% console.log(result[attributeName]) %>
             <p> <%= result[attributeName] %> </p>
         <%}%>
        <% console.log("") %>
 <% }); %>
<script>
    var results = "<%= results %>";
    console.log(results);

    // results.forEach(function(result) {
    //     console.log("\n");
    //     for (var attributeName in result) {
    //         console.log(result[attributeName]);
    //     }
    // });

    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
            datasets: [{
                label: 'My First dataset',
                backgroundColor: 'rgb(32,100,121)',
                borderColor: 'rgb(32,100,121)',
                data: [0, 10, 5, 2, 20, 30, 45]
            }]
        },

        // Configuration options go here
        options: {}
    });

</script>

